.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3a3a3a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 14px;
    z-index: 9999;
    flex-wrap: wrap;
  }
  
  .banner a {
    color: #00aaff;
    margin-left: 8px;
    text-decoration: none;
  }
  
  .banner button {
    background-color: #009eff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 16px;
  }
  