.imagem-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Tirar qualquer margem ou padding extra */
  padding: 0;
  margin: 0;
}

.imagem-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* ou o valor que quiser */
  aspect-ratio: 16 / 9; /* define a proporção da imagem */
  overflow: hidden;
}

.imagem-estilo {
  object-fit: cover;
}
